<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My orders</title>

        <head>
            <meta charset="UTF-8" />
            <meta name="viewport"
                content="width=device-width, initial-scale=1.0" />
            <title>My Account</title>
            <!-- Tailwind CSS -->
            <script src="https://cdn.tailwindcss.com"></script>
            <script
                src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
            <!-- Material Icons -->
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
                rel="stylesheet" />
            <link rel="stylesheet" href="style.css" />
            <link rel="stylesheet"
                href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
                integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
                crossorigin="anonymous" referrerpolicy="no-referrer" />
            <link rel="stylesheet"
                href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.9/dist/sweetalert2.min.css" />
            <link rel="stylesheet"
                href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
            <script
                src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.9/dist/sweetalert2.all.min.js"></script>
            <script
                src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
            <link href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css"
                rel="stylesheet" />
            <script
                src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
        </head>

    </head>

    <body class="bg-gray-50">
        <%- include("partials/navBar") %>
        <div class="mt-16"></div>

        <div class="flex min-h-screen bg-stone-100">
            <!-- Sidebar -->
            <div class="fixed bg-stone-100">
                <%- include("partials/userProfileSideBar") %>
            </div>

            <!-- Main Content -->
            <div class="flex-1 ml-64 w-3/4 bg-white p-6 shadow-md">
                <h1 class="text-2xl font-semibold text-gray-800 mb-6">My
                    Orders</h1>

                <% if (orders.length> 0) { %>
                <% orders.forEach(order=> { %>
                <div
                    class="mb-8 border border-gray-300 rounded-lg bg-white p-6 shadow-md">
                    <div class="flex justify-between items-center mb-4">
                        <div>
                            <p class="text-sm font-semibold text-gray-600">Order
                                ID:
                                <span class="text-gray-800">
                                    <%= order._id %>
                                </span>
                            </p>
                            <p class="text-sm text-gray-500">Order Date: <%=
                                order.orderDate %>
                            </p>
                        </div>
                        <div>
                            <p class="text-lg font-semibold text-gray-800">₹<%=
                                order.totalPrice.toLocaleString() %>
                            </p>
                            <p class="text-sm text-gray-500">Payment: <%=
                                order.paymentMethod %>
                            </p>
                        </div>
                    </div>

                    <div class="space-y-4">
                        <% order.items.forEach(item=> { %>
                        <div
                            class="mb-6 border border-gray-300 rounded-lg bg-white p-4 shadow-md w-full">
                            <div class="flex items-center justify-between">

                                <!-- 1st Section: Product Image -->
                                <div class="w-28 h-28">
                                    <img src="<%= item.imageUrl %>"
                                        alt="<%= item.productName %>"
                                        class="w-full h-full object-cover rounded-md border border-gray-200">
                                </div>

                                <!-- 2nd Section: Product Brand & Name -->
                                <div class="flex-1 ml-6">
                                    <p
                                        class="text-lg font-semibold text-gray-800">
                                        <%= item.brand + " " + item.productName
                                        %>
                                    </p>
                                </div>

                                <!-- 3rd Section: Quantity -->
                                <div class="flex-1">
                                    <p
                                        class="text-lg font-medium text-gray-600">
                                        Qty: <span class="text-gray-800">
                                            <%= item.quantity %>
                                        </span>
                                    </p>
                                </div>

                                <!-- 4th Section: Price -->
                                <div class="flex-1">
                                    <p
                                        class="text-lg font-medium text-gray-600">
                                        Subtotal: ₹<%=
                                        (item.discountPrice*item.quantity).toLocaleString() %>
                                    </p>
                                </div>

                                <!-- 5th Section: Status -->
                                <div class="flex-1">
                                    <% if (item.orderStatus==='Cancelled' ) { %>
                                    <span
                                        class="bg-red-100 text-red-600 text-sm px-3 py-1 rounded-md">
                                        Order <%= item.orderStatus %>
                                    </span>
                                    <% } else { %>
                                    <span
                                        class="bg-green-100 text-green-600 text-sm px-3 py-1 rounded-md">
                                        Status: <%= item.orderStatus %>
                                    </span>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                    </div>

                    <div class="flex gap-4 mt-6">
                        <button
                            onclick="window.location.href='/user/order/details/<%= order._id %>'"
                            class="text-sm px-4 py-2 bg-gray-800 hover:bg-gray-900 text-white rounded-md">
                            View Details
                        </button>
                    </div>
                </div>
                <% }) %>

                <!-- Pagination -->
                <div class="mt-8 flex justify-center items-center space-x-4">
                    <button <% if (currentPage===1) { %> disabled <% } %>
                        onclick="window.location.href='?page=<%= currentPage - 1
                        %>'"
                        class="px-4 py-2 bg-stone-800 text-white rounded-full
                        hover:bg-gray-700
                        disabled:bg-white disabled:text-white">
                        Previous
                    </button>
                    <p class="text-gray-600">Page <%= currentPage %> of <%=
                        totalPages %>
                    </p>
                    <button <% if (currentPage===totalPages) { %> disabled <% }
                        %>
                        onclick="window.location.href='?page=<%= currentPage + 1
                        %>'"
                        class="px-4 py-2 bg-stone-800 text-white rounded-full
                        hover:bg-gray-700
                        disabled:bg-white disabled:text-white">
                        Next
                    </button>
                </div>

                <% } else { %>
                <div class="text-center py-16">
                    <h2 class="text-lg font-semibold text-gray-700">No orders
                        found!</h2>
                    <p class="text-sm text-gray-500 mt-2">Browse our products
                        and place your first order
                        now.</p>
                    <button onclick="window.location.href='/shopall'"
                        class="mt-6 px-6 py-2  bg-gray-800 hover:bg-gray-900 text-white rounded-md ">
                        Shop Now
                    </button>
                </div>
                <% } %>
            </div>

            <script>
                // Function to cancel an order
                function cancelOrder(orderId) {
                    if (confirm("Are you sure you want to cancel this order?")) {
                        fetch(`/order/cancel/${orderId}`, {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json",
                            },
                        })
                            .then((response) => response.json())
                            .then((data) => {
                                if (data.success) {
                                    alert("Order canceled successfully!");
                                    window.location.reload();
                                } else {
                                    alert("Failed to cancel the order. Please try again.");
                                }
                            })
                            .catch((error) => {
                                console.error("Error canceling order:", error);
                                alert("Something went wrong. Please try again.");
                            });
                    }
                }
            </script>

        </body>

    </html>